body{      
	margin-top: 120px; 
} 

.textStyle1{  
    padding: 10px;  
	color: #BEBEBE; 
	font-size:50px;
	font-family: monospace;
	margin-bottom: 100px;
}

.myText{
	color: white; 
	font-size: 60px; 
	background: url(../images/wall1.gif); 
	border-radius: 70px; 
	padding: 40px;
}

#ukr_text1{
	font-size: 54px;
}

.orangeWord{
	color: orange;
}

.redWord{
	color: red;
}

.whiteWord{
	color: white;
}

.meetChichi{
	text-align: left;
	margin-left: 80px; 
	margin-top: 170px;
}

.howToPlay{
	background: #282828; 
	width: 1300px;
	border: 10px solid red; 
	color: white; 
	font-size:50px; 
	font-family: monospace;
}

.play{
	margin-top: 0px; 
}

.arrowKeys{
	margin-top: -80px; 
}

.bigger:hover {
	width: 300px;
	height: 300px;
}

.greyBack{
	background: #202020; 
	border: 10px solid #202020; 
	border-radius: 70px; 
	padding: 0px;
}

#yourPlayer{
	margin-left: 800px; 
	margin-top: -200px;
}

#ukr_yourPlayer{
	margin-left: 1000px; 
	margin-top: -200px;
}

#goal{
	font-size:70px; 
	color: red;
}

#playImg{
	width:250px; 
	height: 250px;
}

#arrowKeysImg{
	width:250px; 
	top: -100px; 
}

#fourCharacters{
	margin-top: 170px;  
	width: 1000px;
}

#friendlyStar{
	margin-top: 170px; 
	width: 750px;
}

#moreInfo{
	font-size: 40px; 
	width: 1400px;
}

.gOver{
	font-size: 60px; 
	width: 1400px; 
	height: 500px; 
	background: black; 
	border: 2px solid red;
}

#replayImg{
	width:260px;
}

#lBoard{
	margin-top: 100px;
}

#lBoardImg{
	width:250px;
}

#bestResult{
	margin-left: 550px; 
	margin-top: -60px;
}

#ukr_bestResult{
	margin-left: 550px;
	margin-top:-100px;
}

#goodLuckImg{
	width:600px; 
	margin-top: 10px; 
	margin-bottom:100px;
}
