.about_line{ 
	margin-top: 250px;
    width: 60%; 
    padding: 10px;
	background: #282828; 
	color: #BEBEBE; 
	font-size:18px; 
}

#wider_back{
	padding-left: 30px;
	padding-right: 30px;
	padding-top: 15px;
}

.my_mail{ 
	color: orange;
}

.copyright_line{ 
    padding: 1px;
    margin-top: 240px;
	color: #585858;
}

.cosmonautImg{
	position: absolute; 
	width: 250px; 
	margin-left: 255px; 
	margin-top: -135px;
}

#ukrcosmonautImg{
	margin-left: 14%; 
}

